<section class="comments">
    <div class="container">
        <h2 class="comments__title">Отзывы выпускников</h2>
            <div class="slider-big">
                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>  
                                <source srcset="./images/comments/tablet/ellipse-1.webp 1x, ./images/comments/tablet/ellipse-1@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-1.png 1x, ./images/comments/tablet/ellipse-1@2x.png 2x" media="(min-width: 768px)">

                                <source srcset="./images/comments/mobile/ellipse-1.webp 1x, ./images/comments/mobile/ellipse-1@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-1.png 1x, ./images/comments/mobile/ellipse-1@2x.png 2x" media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-1.png" class="comments__img" alt="Фото выпускника"/>
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                        
                        <div class="comments__info-text">
                            <h3 class="comments__student">Ыоня Кучеровская</h3>
                        
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                        
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>
                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>
                                <source srcset="./images/comments/tablet/ellipse-2.webp 1x, ./images/comments/tablet/ellipse-2@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-2.png 1x, ./images/comments/tablet/ellipse-2@2x.png 2x"
                                    media="(min-width: 768px)">
                            
                                <source srcset="./images/comments/mobile/ellipse-2.webp 1x, ./images/comments/mobile/ellipse-2@2x.webp 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-2.png 1x, ./images/comments/mobile/ellipse-2@2x.png 2x"
                                    media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-2.png" class="comments__img" alt="Фото выпускника" />
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                
                        <div class="comments__info-text">
                            <h3 class="comments__student">Соня Кучеровская</h3>
                
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                                пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                                хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>
                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>
                                <source srcset="./images/comments/tablet/ellipse-3.webp 1x, ./images/comments/tablet/ellipse-3@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-3.png 1x, ./images/comments/tablet/ellipse-3@2x.png 2x"
                                    media="(min-width: 768px)">
                            
                                <source srcset="./images/comments/mobile/ellipse-3.webp 1x, ./images/comments/mobile/ellipse-3@2x.webp 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-3.png 1x, ./images/comments/mobile/ellipse-3@2x.png 2x"
                                    media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-3.png" class="comments__img" alt="Фото выпускника" />
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                
                        <div class="comments__info-text">
                            <h3 class="comments__student">Моня Кучеровская</h3>
                
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                                пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                                хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>
                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>
                                <source srcset="./images/comments/tablet/ellipse-4.webp 1x, ./images/comments/tablet/ellipse-4@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-4.png 1x, ./images/comments/tablet/ellipse-4@2x.png 2x"
                                    media="(min-width: 768px)">
                            
                                <source srcset="./images/comments/mobile/ellipse-4.webp 1x, ./images/comments/mobile/ellipse-4@2x.webp 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-4.png 1x, ./images/comments/mobile/ellipse-4@2x.png 2x"
                                    media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-4.png" class="comments__img" alt="Фото выпускника" />
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                
                        <div class="comments__info-text">
                            <h3 class="comments__student">Боня Кучеровская</h3>
                
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                                пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                                хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>
                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>
                                <source srcset="./images/comments/tablet/ellipse-5.webp 1x, ./images/comments/tablet/ellipse-5@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-5.png 1x, ./images/comments/tablet/ellipse-5@2x.png 2x"
                                    media="(min-width: 768px)">
                            
                                <source srcset="./images/comments/mobile/ellipse-5.webp 1x, ./images/comments/mobile/ellipse-5@2x.webp 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-5.png 1x, ./images/comments/mobile/ellipse-5@2x.png 2x"
                                    media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-5.png" class="comments__img" alt="Фото выпускника" />
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                
                        <div class="comments__info-text">
                            <h3 class="comments__student">Гоня Кучеровская</h3>
                
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                                пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                                хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>

                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>
                                <source srcset="./images/comments/tablet/ellipse-6.webp 1x, ./images/comments/tablet/ellipse-6@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-6.png 1x, ./images/comments/tablet/ellipse-6@2x.png 2x"
                                    media="(min-width: 768px)">
                            
                                <source srcset="./images/comments/mobile/ellipse-6.webp 1x, ./images/comments/mobile/ellipse-6@2x.webp 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-6.png 1x, ./images/comments/mobile/ellipse-6@2x.png 2x"
                                    media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-6.png" class="comments__img" alt="Фото выпускника" />
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                
                        <div class="comments__info-text">
                            <h3 class="comments__student">Тоня Кучеровская</h3>
                
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                                пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                                хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>
                <div class="slider-big__item">
                    <div class="comments__info">
                        <div class="comments__info-visual">
                            <picture>
                                <source srcset="./images/comments/tablet/ellipse-7.webp 1x, ./images/comments/tablet/ellipse-7@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp">
                                <source srcset="./images/comments/tablet/ellipse-7.png 1x, ./images/comments/tablet/ellipse-7@2x.png 2x"
                                    media="(min-width: 768px)">
                            
                                <source srcset="./images/comments/mobile/ellipse-7.webp 1x, ./images/comments/mobile/ellipse-7@2x.webp 2x"
                                    media="(min-width: 320px)" type="image/webp">
                                <source srcset="./images/comments/mobile/ellipse-7.png 1x, ./images/comments/mobile/ellipse-7@2x.png 2x"
                                    media="(min-width: 320px)">
                                <img src="./images/comments/mobile/ellipse-7.png" class="comments__img" alt="Фото выпускника" />
                            </picture>
                            <a class="comments__social-link" href="" target="_blank" rel="noreferrer noopener">
                                <svg class="comments__svg">
                                    <use href="./images/svg/vk-sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                        </div>
                
                        <div class="comments__info-text">
                            <h3 class="comments__student">Поня Кучеровская</h3>
                
                            <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
                                і природокористування України</p>
                
                            <p class="comments__message">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                                пустий
                                словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                                хвилювала моя
                                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                                помилку.
                                Зараз
                                я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>
                        </div>
                    </div>
                </div>
             </div>
         <div class="slider-container">    
            <div class="slider">
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-1.png" srcset="./images/comments/all/ellipse-1@2x.png 2x" width="54" height="54" alt="">
                </div>
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-2.png" srcset="./images/comments/all/ellipse-2@2x.png 2x" width="54" height="54" alt="">
                </div>
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-3.png" srcset="./images/comments/all/ellipse-3@2x.png 2x" width="54" height="54" alt="">
                </div>
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-4.png" srcset="./images/comments/all/ellipse-4@2x.png 2x" width="54" height="54" alt="">
                </div>
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-5.png" srcset="./images/comments/all/ellipse-5@2x.png 2x" width="54" height="54" alt="">
                </div>
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-6.png" srcset="./images/comments/all/ellipse-6@2x.png 2x" width="54" height="54" alt="">
                </div>
                <div class="slider__item">
                    <img src="./images/comments/all/ellipse-7.png" srcset="./images/comments/all/ellipse-7@2x.png 2x" width="54" height="54" alt="">
                </div>

            </div>
        </div>
     </div>
</section>